/* THIS FILE IS JUST FOR EXAMPLES, DELETE IT IF YOU DON'T NEED IT */

/* SHELL ---------------------------------------- */
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background: var(--blog-background);
  color: var(--qwik-dark-text);
  overflow-x: hidden;
  height: 100%;
}

main {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}

/* TYPOGRAPHY ---------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--qwik-dark-text);
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5;
}

h6 {
  font-size: 1rem;
  line-height: 1.6;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

a {
  color: var(--qwik-dark-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
