:root {
  --border-color: #e6ecf5;
  --primary-text: #888da8;
  --primary-background: #edf2f6;
  --paper-size: 1290px;
}

html {
  font-family: "Lato", sans-serif;
}

body {
  background: var(--primary-background);
  color: var(--primary-text);
  overflow-x: hidden;
  height: 100%;
}

main {
  margin: 0 auto;
  height: 100%;
}

/* TYPOGRAPHY ---------------------------------------- */

pre,
code {
  padding: 16px 8px;
  text-align: left !important;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--primary-text);
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5;
}

h6 {
  font-size: 1rem;
  line-height: 1.6;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
