.container {
  width: 100%;
}

.block {
  width: 100%;
  background-color: white;
  border: 1px solid var(--border-color);
}

.block a {
  cursor: pointer;
}

.header {
  background-color: white;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
}

.body {
  padding: 10px;
  color: var(--text-color);
}
