.section {
  border: 1px solid var(--border-color);
  padding: 24px;
  background-color: white;
  border-radius: 4px;
}

.description {
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--primary-text);
}

.footer {
  width: fit-content;
  display: flex;
  column-gap: 4px;
}
.footer span {
  font-size: 0.625rem;
  border-radius: 8px;
  line-height: 1.5;
  color: var(--primary-text);
  border: 1px solid var(--border-color);
  padding: 0 8px;
}
