@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    font-family: 'Courier New', monospace;
    background-color: #282a36;
    color: #f8f8f2;
    border-left: 4px solid #bd93f9;
    line-height: 1.6;
    padding: 1em;
    overflow-x: auto;
    word-wrap: break-word;
    margin-bottom: 1em;
    display: block;
    max-width: 100%;
    border-radius: 8px;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: purple;
    text-decoration: underline;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: red;
    text-decoration: underline;
}